.cards {
    display: flex;
    justify-content: space-between;
  }
  .card-heading {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  .card_image {
    background-color: white;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 7px;
  }
  
  .card-padding {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    opacity: 0.8;
  }
  .card:nth-child(1) {
    width: 17%;
    border-radius: 10px;
    background: #289672;
    padding: 15px;
  }
  .card:nth-child(2) {
    width: 17%;
    padding: 15px;
    border-radius: 10px;
    background-color: #e87f45;
  }
  .card:nth-child(3) {
    width: 17%;
    padding: 15px;
    border-radius: 10px;
    background-color: #0d7e7e;
  }
  .chart_mijozlar_tahlili {
    width: 100%;
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
  }
  .card:nth-child(4) {
    padding: 15px;
    width: 17%;
    border-radius: 10px;
    background-color: #0a9c82;
  }
  .card:nth-child(5) {
    padding: 15px;
    width: 17%;
    border-radius: 10px;
    background-color: #0ca1a1;
  }
  .mijozlar_tahlili_chart_left_heading {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #222628;
    margin-bottom: 20px;
  }
  .mijozlar_tahlili_chart_right_chart {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
  }
  .mijozlar_tahlili_chart_left_chart {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
  }
  .Icons-about {
    padding: 5px;
    background: #ffffff;
    border: 1px solid #289672;
    border-radius: 5px;
    color: #289672;
  }
  .css-i4bv87-MuiSvgIcon-root {
    width: 24px !important;
    height: 24px !important;
  }