.tolov_tr_top_th {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #222628;
    opacity: 0.6;
    position: relative;
    left: 1px;
}
  .dashboard_about__heading {
    font-family: "SF Pro Display" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 29px !important;
    color: #000000 !important;
    position: relative;
    top: 5px !important;
}
  